{% extends "layout.html" %}
{% block content %}


<h1 class="text-2xl font-bold m-4">Revenue Tracker</h1>
<p class="text-muted-foreground m-4">
Monitor your income and growth
</p>

<!-- KPI CARDS -->
<div class="flex gap-4 m-4">

<div class="card p-4 w-full">
  <p class="font-semibold">Total Revenue</p>
  <h2 class="text-2xl font-bold text-success">
  ${{ total_revenue }}
</h2>
  <p class="text-muted-foreground">Total received</p>
</div>

<div class="card p-4 w-full">
  <h3 class="font-semibold">Monthly Revenue</h3>

  {% for m in monthly %}
  <div class="flex justify-between m-2">
    <span>{{ m.month }}</span>
    <b class="text-success">${{ m[1] }}</b>
  </div>
  {% endfor %}
</div>

<div class="card p-4 w-full">
  <p class="font-semibold">Active Clients</p>
  <h2 class="text-2xl font-bold text-primary">{{active_clients}}</h2>
</div>

</div>

<div class="card p-4 m-4">
  <h3 class="font-semibold">Paid Projects</h3>

  {% for p in projects %}
  <div class="flex justify-between bg-secondary p-4 rounded m-2">
    <div>
      <b>{{ p.name }}</b>
      <p class="text-muted-foreground">
        Paid on {{ p.due_date.strftime('%d %b %Y') }}
      </p>
    </div>
    <b class="text-success">${{ p.budget }}</b>
  </div>
  {% endfor %}
</div>

</div>

</body>
</html>
{% endblock %}